<!DOCTYPE html>
<html>
  <head>
    <title>hogehoge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <ul>
    	<% users.forEach(function(value, key) { %>
    	<li><%= value.name %></li>
    	<% }); %>
    </ul>

    <form action="users/create" method="post">
      <label for="name">Name</label>
      <input type="text" name="name">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
