<!DOCTYPE html>
<html>
  <head>
    <title>hogehoge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users</h1>
    <ul>
    	<% users.forEach(function(value, key) { %>
    	<li><%= value.name %></li>
    	<% }); %>
    </ul>
  </body>
</html>
